header {
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #3498db;
  color: white;
}

body {
  background-color:rgba(52, 73, 94,0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
}

@media (min-width: 600px ) and (max-width:900px) {
  .grid-container {   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
  }
}

.timer {
  color: rgba(225, 177, 44,1.0);
  color:black;
}

.timer-title {
  color: rgba(225, 177, 44,1.0)
}